#app {
  display: grid;
  margin: 1lvw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #ffff;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevent scroll */
  padding: 0.2rem;
}
